<!-- <h1>{{title}}</h1>

<pre>
    <code>{{retorno}}</code>
</pre> -->

<!-- <div ng-repeat="supermarket in retorno" class="col-xs-4" > -->
    <div class="col-xs-12">
    <div ng-repeat="supermarket in retorno" class="card" style="width: 25%; display: inline-block;">
        <img class="card-img-top" src="{{supermarket.image}}" alt="Card image cap" >

        <div class="card-body">
            <h5 class="card-title">{{supermarket.name}}</h5>
            <p class="card-text">{{supermarket.description}}</p>
            <p class="card-text"><i>{{supermarket.location}}</i></p>
            <button class="btn btn-md btn-primary">Edit</button>
            <button class="btn btn-md btn-danger">Delete</button>
        </div>
    </div>
    </div>
<!-- </div> -->